@page "/habits"
@inject HabitService _habitService
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))
@inject NavigationManager nav

<h3>Habits</h3>

<HabitDropdown Title="Daily Habits  ▼" Habits="_Habits"></HabitDropdown>

<!--<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Freq</th>
			<th>EXP</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var habit in _Habits)
		{
			<tr>
				<td>@habit.HabitID</td>
				<td>@habit.Name</td>
				<td>@habit.Frequency</td>
				<td>@habit.ExperiencePointsReward</td>
				<td>
					@if (@habit.Status)
					{
						<p>Completed</p>
					}
					else
					{
						<p>Work in Progess</p>
					}
				</td>
				<td>
					<button class="btn btn-primary" @onclick="() => CompleteHabit(habit.HabitID)">
						Complete
					</button>
					<button class="btn btn-primary" @onclick="() => EditHabit(habit.HabitID)">
					Edit
					</button>
				
					<button class="btn btn-danger" @onclick="() => DeleteHabit(habit.HabitID)">
						Delete
					</button>
				</td>
			</tr>
		}
	</tbody>
	
	<button class="btn btn-primary" @onclick="AddHabit">Add Habit</button>
</table>-->


@code {
	List<Habit> _Habits = new List<Habit>();

	protected override async Task OnInitializedAsync()
	{
		_Habits = await _habitService.GetHabits();
	}


	
}
