@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="page">
    @if (!isLoginPage())
    {
        <div class="nav-bar">
            <ul class="nav-list">
                <li><a href="achievements" class="@MakeClassActive("achievements")">Achievements</a></li>
                <li><a href="habits" class="@MakeClassActive("habits")">Habits</a></li>
                <li><a href="profile" class="@MakeClassActive("profile")">Profile</a></li>
                <li><a href="Experience" class="@MakeClassActive("Experience")">Experience</a></li>
                <li><Logout  /></li>

            </ul>
        </div>
    }
    
    
    <main>

        <article class="content ">
            @MakeClassActive("Experience")
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{

        public bool isLoginPage()
        {
            var currentUri = Nav.Uri.ToLower();
            return currentUri.Contains("/login");
        }
        public void MakeClassActive(string Class)
        {
            var currentUri = Nav.Uri.ToLower();
            if (currentUri.Contains(Class.ToLower())){
                return "active";
            }
            return Class;
    }

   
}